body{
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    font-family: 'Poppines' serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1; 
  }
  
  header{
    display: flex;
    background: #fff;
    border-bottom: 3px solid #50C7C7;
    margin-bottom:20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav_links{
      display: flex;
      
  }
  li a, li a:visited{
      color: blue;
  }
  .card > header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
  }
 
  .pricing{
    min-height: 475px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  
.card {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    flex-basis: 450px;
   }

.card h3{
    text-align: center;

}
.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
  }
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#logo{
    animation: moveit 5s;

}
@keyframes moveit{
from{
width: 25px;
opacity: 0;
}
to{
    width: 475px;
    opacity: 1;
}
}
  
 a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }
  
  *:focus{
    border: 2px solid black;
  }


  .nav_item a{
    padding: 10px;
  }
  
  .nav_item a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  } 
 
@media screen and (min-width: 900px){

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .card{
       
        flex-basis: 250px;
    }
    
    .nav-link{
    display: flex;
    flex-direction: row;

    }
    
    body> header{
        position: sticky;
        top: 0;
    }
}
  

.card button{
    width: 90%;
    height: 40px;
    border: 0;
    margin-left: 5%;
    border-radius: 7px;
    background: #288080;
    color: white;
    font-size: 1em;
  }
  
  .card h3{
    font-size: 4em;
    color: white;
    text-align: center;
  }
  
  footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  }


@media print{
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-image: none;
    }
    nav{
        justify-content: space-around;
        display: flex;
        
    }
    .nav_links{
        justify-content: space-around;
        display: flex;
    }
    .pricing{
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    .card{
        border: 2px #45ADAD;
        flex-basis: 325px;
    }
    .gallery{
        display: none;

    }
    .card ul li:nth-child(2)::after
    {
        content: "👍";
    }
}
  